# Personal media data ignored
data/frames/
data/faces/
data/cctv.mp4

#test images ignored
test.jpg
test.jpeg
debug_test_crop.jpg

#  database (contains face embeddings) ignored
database/embeddings.pkl

# Ignore Python cache files
__pycache__/
*.pyc
